.contact-view-card {
    height: 100%;
}

.contact-view-card .card-title {
    height: 5%;
}

.contact-view-card .card-body {
    height: 78%;
}

.contact-view-card .card-footer {
    height: 10%;
    background-color: #CCCCCC;
}

.contact-table {
    text-align: left;
}

.card-body {
    position: relative;
}

.contact-image {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 200px;
    width: auto;
}